body{
    font-family: Montserrat;
    color: #6A6E84;
}

a:link{
    color: #76250C;
    text-decoration: none;
}

.button{
    background-color: #E8BD9C;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
}
.button:hover{
    background-color: rgb(214, 165, 127);
}

header{
    background-color: antiquewhite;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
}

.main-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;

}

.container{
    width: 80%;
    margin: auto;
    padding: 1em;
}

.hero .container{
    display: flex;
    flex-direction: column;
}

.hero .button{
    align-self: end;

}

.programme .container{
    background-color: aliceblue;
}

.conferences{
    text-decoration: none;
    list-style: none;
}

.conferences > li{
    display: flex;
    align-items: flex-start;
}

.conferences > li img{
    max-width: 300px;
    margin-right: 1em;
    height: auto;
}

.form-quizz{
    border-radius: 30px;
}

.form-quizz fieldset{
    margin-top: 1em;
    border-radius: 30px;
}
.form-quizz fieldset input:focus{
    background: aliceblue;
}

.form-quizz fieldset > p{
    display: flex;
}

.form-quizz fieldset > p label{
    width: 60%;
}

@media screen and (max-width: 800px) {
    .conferences > li{
        flex-direction: column;
        margin-top: 1em;
    }
}














